<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SparrpowR Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    Dear SparrpowR User, <br>
    <p>The job you submitted on {originalTimestamp} has been processed. Download your results using the links below:</p>
    <a href="{resultsUrl}">{resultsUrl}</a>
    <p>
        Please do not reply to this email. If you need assistance, please contact <a href="mailto:{supportEmail}">{supportEmail}</a>. 
        Include the following job id in your email: {id}
    </p>
</body>

</html>