
.jumbotron {
    display: block;
    position: relative;
}

.jumbotron::after {
    content: "";
    background-image: url('background-image.svg');
    background-position: center top 20px;
    background-repeat: no-repeat;
    background-size: 80%;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;   
    pointer-events: none;
}