
.jumbotron {
    display: block;
    position: relative;
}

.jumbotron::after {
    content: "";
    background-image: url('spatial-power-banner.png');
    background-position: center top 20px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.20;
    top: -6%;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;   
    pointer-events: none;
}