
.jumbotron {
    display: block;
    position: relative;
    padding-bottom: 10rem !important;
}

.jumbotron .banner-text{
    position: relative;
    z-index: 1;
    padding-top: 5rem;
}

.jumbotron::after {
    content: "";
    background-image: url('spatial-power-banner.jpeg');
    background-position: center bottom 40%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute; 
    pointer-events: none;
    z-index: 0;
}