*, ::after, ::before {
    outline: none;
}

// higher contrast selection
::selection { 
    color: white;
    background: $primary-darker;
}

body {
    min-width: 400px;
}

hr {
    border-top: 1px solid #dee2e6;
}

.bg-primary-darker {
    background-color: $primary-darker !important;
}

.bg-primary-gradient {
    background: linear-gradient(45deg, $primary, $primary-darker) !important;
}

.alert-dismissible .close {
    padding: 0 .25rem;
}

.btn {
    font-weight: 500;
}

.nav-link {
    font-weight: 500;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    &.active, &:hover {
        color: #2e2e2e;
        border-bottom-color: #14819B;
        background-color: white;
    }
}

.card-header-tabs.nav-tabs .nav-item .nav-link {
    border-bottom-width: 2px;
    border-color: transparent;
    &:hover, &:focus, &.active {
        color: black;
        background-color: $card-cap-bg;
        border-bottom-color: $primary;
    }
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input[readonly]:checked ~ .custom-control-label::before {
    background-color: rgba(24, 83, 148, 0.5);
}

.legend{
    font-size: 1rem;
    white-space: nowrap;
}