@font-face {
    font-family: r-symbols;
    src: url('./fonts/r-symbols/r-symbols.eot');
    src: url('./fonts/r-symbols/r-symbols.eot#iefix') format('embedded-opentype'),
         url('./fonts/r-symbols/r-symbols.woff') format('woff'),
         url('./fonts/r-symbols/r-symbols.ttf') format('truetype'),
         url('./fonts/r-symbols/r-symbols.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.r-symbols {
    font-family: r-symbols, $font-family-sans-serif;
} 

.list-style-none {
    list-style: none;
    padding-left: 0;
}

.inline-list > li {
    display: inline-block;
    margin-right: 1rem;
}

.inline-list > li:not(:last-child):after {
    content: '|';
    margin-left: 1rem;
    display: inline-block;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.font-weight-bold {
    font-weight: 500;
}

.white-space-pre-wrap {
    white-space: pre-wrap;
}

.flex-fill {
    flex: 0 1 auto !important;
}

.required:after {
    content: '*';
    margin-left: 0.25rem;
    color: red;
}